.modal {
    position: fixed;
    height: 40%;
    top: 100;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid var(--neon-yellow);
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.2s ease-out;
}
.modal button{
    margin: 10px;
}